/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  color: #6b1a22;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 15px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 20px 20px;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #a35766;
  color: #ecdbc9;
}

main img {
  width: 500px;
  padding: 20px;
}

/* 

In the README file, the example shows a line break, but I think it may
have been placed there by accident seeing as the content above and below it
is repeated

hr {
  background-color: #fff;
  height: 3px;
  border-color: #fff;
} */

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

.formatting {
  margin: 0 20px 10px 30px;
}

.p-blog {
  margin: 0 10px 15px 20px;
}

/* -------  Navigation ------- */

header {
  background-color: #83092e;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Tangerine", cursive;
  font-size: 72px;
  color: #ecdbc9;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-left: 0;
  padding-bottom: 20px;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #ecdbc9;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}



/* -------  Join Form ------- */
form {
  border: 2px solid #6b1a22;
  padding: 10px;
  margin: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  
}


form label {
  font-weight: bold;
  flex-basis: 130px;
  
}

form select,
form input {
  width: 180px;
  display: flex;
  justify-content: ;
}

form button {
  background-color: #83092e;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #83092e;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  header h1 {
    margin: 14px 0;
    padding-top: 0;
  }

  header nav {
    margin-top: 20px;
  }

  h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 15px 30px 15px 0 ;
  }

  section form {
    width: 800px;
  }

  form select,
form input {
  width: 180px;
  display: flex;
  justify-content: flex-start;
}

  .group {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .grow {
    width: 700px;
  }

  .p-blog {
    margin: 0 30px 15px 0 ;
  }

  .blog-img {
    width: 700px;
    padding: 0;
  }

 
}
